{% extends 'base.html.twig' %}

{% block title %}Vue{% endblock %}

{% block main %}

    <div class="container">
        <h1>Vue</h1>

        <div id="app">
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/build/js/cards.js') }}"></script>
{% endblock %}
