{% block footer %}
    <footer class="bg-dark text-light">
        <section class="container">
            <p>
                <img src="{{ asset('build/images/cards-logo-white.svg') }}" alt="Cards Logo" class="logo-w-4"/>
                © Copyright 2018. All rights reserved.</p>
        </section>
    </footer>
{% endblock %}
