{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block main %}
    <section class="intro container text-center">
        <h1 class="display-3">Thanks for using Cards.</h1>
    </section>
    <section class="information bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ad animi assumenda at ducimus eaque error facilis fuga hic nihil nisi non,
                        obcaecati, quaerat qui quis, quod rem reprehenderit saepe veniam?
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ad animi assumenda at ducimus eaque error facilis fuga hic nihil nisi non,
                        obcaecati, quaerat qui quis, quod rem reprehenderit saepe veniam?
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

