{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block main_navbar %}
    {% include 'homepage/_navbar.html.twig' %}
{% endblock %}

{% block main %}

    <section class="cover">
        <h1>Speed up your learning skills 10x with Cards.</h1>
    </section>

    <section class="benefits">
        <div class="row">
            <div class="col-md-4">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officiis.</p>
            </div>
            <div class="col-md-4">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officiis.</p>
            </div>
            <div class="col-md-4">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officiis.</p>
            </div>
        </div>
    </section>

    <section class="showcase">
        {#
            - description
            - screenshots from application
            - 3x slides
        #}
    </section>

    <section class="counters">
        {#
            - 3x counters
        #}
    </section>

    <section class="suites">
        {#
            - 6x lessons, suites - showcase
        #}
    </section>

    <section class="subscribe">
        {#
            - Subscribe button
        #}
    </section>

    <section class="start-learning">
        {#
    - Start Learning button
    #}
    </section>

{% endblock %}

{% block footer %}
    {% include 'homepage/_footer.html.twig' %}
    {{ parent() }}
{% endblock %}
