{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block main %}
    {#<section class="intro container text-center">#}
        {#<h1 class="display-3">Thanks for using Cards.</h1>#}
    {#</section>#}
    {#<section class="information bg-light">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-12 col-md-6">#}
                    {#<p>#}
                        {#Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
                        {#Ad animi assumenda at ducimus eaque error facilis fuga hic nihil nisi non,#}
                        {#obcaecati, quaerat qui quis, quod rem reprehenderit saepe veniam?#}
                    {#</p>#}
                {#</div>#}
                {#<div class="col-12 col-md-6">#}
                    {#<p>#}
                        {#Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
                        {#Ad animi assumenda at ducimus eaque error facilis fuga hic nihil nisi non,#}
                        {#obcaecati, quaerat qui quis, quod rem reprehenderit saepe veniam?#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section class="cover">
        <h1>Speed up your learning skills 10x with Cards.</h1>
    </section>

    <section class="benefits">
        <div class="row">
            <div class="col-md-4">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officiis.</p>
            </div>
            <div class="col-md-4">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officiis.</p>
            </div>
            <div class="col-md-4">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officiis.</p>
            </div>
        </div>
    </section>

    <section class="showcase">
        {#
            - description
            - screenshots from application
            - 3x slides
        #}
    </section>

    <section class="counters">
        {#
            - 3x counters
        #}
    </section>

    <section class="suites">
        {#
            - 6x lessons, suites - showcase
        #}
    </section>

    <section class="subscribe">
        {#
            - Subscribe button
        #}
    </section>

    <section class="start-learning">
        {#
    - Start Learning button
    #}
    </section>

{% endblock %}

