<nav>
    <ul class="nav">
        <li class="nav-item ml-2">
            <h2>{{ deck.name }}</h2>
        </li>
        <li class="nav-item ml-auto">
            <a href="#" class="btn btn-light btn-sm text-secondary">
                <i class="fa fa-hand-o-left"></i>
                Previous Cart
            </a>
        </li>
        <li class="nav-item ml-2">
            <a href="#" class="btn btn-light btn-sm text-secondary">
                <i class="fa fa-star"></i>
                Add to Favorite
            </a>
        </li>
        <li class="nav-item ml-2">
            <a href="#" class="btn btn-light btn-sm text-secondary">
                <i class="fa fa-cog"></i>
                Settings
            </a>
        </li>
    </ul>
</nav>
