{% extends 'base.html.twig' %}

{% block title %}Dashboard | Cards{% endblock %}

{% block nav %}
    <nav class="">
        <div class="">
            <a href="#" class="">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </div>
        <div class="">
            <a href="#" class="">Cards</a>
        </div>

        <div>
            <a href="{{ path('frontend') }}" class="">
                Log Out <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </nav>
{% endblock %}

{% block main %}

{% endblock %}
