{% extends 'base.html.twig' %}

{% block title %}Reset Your Cards Password{% endblock %}

{% block main %}
    <div class="container my-5 mx-auto">

        <section>
            <h1><i class="fa fa-refresh"></i> Reset Your Cards Password.</h1>
            <hr class="mb-2">
        </section>

        {% if email is null %}

            <section class="w-50">
                <p>Submit your email address and we’ll send you a link to reset your password.</p>
                <form action="{{ path('forgot') }}">
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" placeholder="eg., john.smith@gmail.com">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-send"></i>
                        Submit</button>
                </form>
            </section>

            <section>
                <hr class="mb-2">
                <a href="{{ path('login') }}" class="btn btn-light text-secondary btn-sm">
                    <i class="fa fa-sign-in"></i>
                    or you can try logging in again.
                </a>
            </section>
        {% else %}

            <section>
                <p>The email with reset link should be sent to <strong>{{ email }}</strong>.</p>
                <p>Click the link in that email, a reset instruction will appear in your web browser.</p>
            </section>

        {% endif %}

    </div>
{% endblock %}

{% block footer %}
    {% include 'homepage/_footer.html.twig' %}
    {{ parent() }}
{% endblock %}
